.App {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: black;
  color: white;
  font-family: monospace;
}

#circle-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100vmin;
  height: 100vmin;
  .dot {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid white;
  }
}
input[type="range"] {
  width: 100%;
}
